@page
@model xxx.Pages.welcomeModel
@{
}


<div class="text-center">
    <h1>Thank you for the data</h1>
    <h4>@ViewData["imie"]</h4>
    <h4>@ViewData["nazwisko"]</h4>
    <h4>@ViewData["wiek"]</h4>
    <h4>@ViewData["plec"]</h4>
    <h4>@ViewData["telefon"]</h4>
    <h4>@ViewData["jezyki"]</h4>
</div>